* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #327da8;
  height: 70px;
}

.logo {
  margin-left: 200px;
  margin-right: 10px;
  margin-top: 120px;
  color: white;
}

.inskillz {
  font-size: 30px;
  color: white;
  margin-top: 120px;
}

.search-box {
  border-radius: 8px;
  margin-left: 42px;
  width: 325px;
  height: 35px;
  margin-top: 23px;
  border: white
}

.search {
  margin-left: 328px;
  position: absolute;
  margin-top: 30px;
}

.align1 {
  color: white;
  font-size: 18px;
  margin-left: 150px;
  margin-right: 45px;
}

.align2 {
  color: white;
  margin-right: 55px;
  font-size: 18px;
}

.align3 {
  color: white;
  font-size: 18px;
}

/* --for sidebar---- */
.box {
  border: 5px solid white;
  width: 370px;
  height: 347px;
  box-shadow: 30px 30px 30px 30px whitesmoke;
  margin-left: 182px;
  margin-top: 100px;
  padding-top: 20px;
  border-radius: 18px;
}

.text {
  text-align: center;
  margin-bottom: 20px;
}

.picture {
  border-radius: 65%;
  height: 104px;
  margin-left: 105px;
}

.horizontal {
  color: gray;
  padding: 4px;
}

.content1 {
  margin-left: 30px;
  font-size: 16px;
  color:
}

.language {
  margin-left: 169px;
  font-size: 18px
}

.content2 {
  margin-left: 117px;
  font-size: 18px;
}

.dropdown {
  margin-left: 120px;
  padding: 7px 7px;
  border-radius: 8px;
  width: 150px
}